body {
  margin: 0;
  background: url('./assets/background.jpg') 0 0 repeat;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.App {
  max-width: 1200px;
  margin: 0 auto;
}
